<p>Hola <b>{{ name }}</b>,</p>
<p>Gracias por registrarte tu restaurante con eatlify</p>
<span>
    plan: <b>{{plan}}</b> <br>
    phone: <b>{{phone}}</b> <br>
    longitude: <b>{{longitude}}</b> <br>
    latitude: <b>{{latitude}}</b> <br>
</span>
<img src={{image}} alt="">
<p>Si no requeriste este email puedes ignorarlo no pasa nada!</p>
